<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wozaki.alfred-cursor-launcher</string>
	<key>name</key>
	<string>Cursor Recent Projects</string>
	<key>description</key>
	<string>Open recent Cursor projects from Alfred</string>
	<key>createdby</key>
	<string>Shun Ozaki</string>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/wozaki/alfred-cursor-launcher</string>
	<key>readme</key>
	<string>https://github.com/wozaki/alfred-cursor-launcher/blob/main/README.md</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>hotkey-1</string>
			<key>version</key>
			<integer>2</integer>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>script-filter-1</string>
			<key>version</key>
			<integer>3</integer>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>cursor</string>
				<key>script</key>
				<string>./alfred-cursor-launcher list</string>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>queuedelaycustom</key>
				<integer>0</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Loading recent projects...</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>scripttype</key>
				<integer>1</integer>
				<key>title</key>
				<string>Cursor Recent Projects</string>
				<key>troubleshooting</key>
				<false/>
				<key>withspace</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>run-script-1</string>
			<key>version</key>
			<integer>2</integer>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-cursor-launcher open "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>scripttype</key>
				<integer>1</integer>
				<key>troubleshooting</key>
				<false/>
			</dict>
		</dict>
	</array>
	<key>connections</key>
	<dict>
		<key>hotkey-1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>script-filter-1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>script-filter-1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>run-script-1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>uidata</key>
	<dict>
		<key>hotkey-1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>script-filter-1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>run-script-1</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>

