name: CI

on:
    push:
        branches:
            - main
        paths-ignore:
            - "**.md"
            - "LICENSE"
            - ".github/workflows/release.yml"
    pull_request:
        branches:
            - main
        paths-ignore:
            - "**.md"
            - "LICENSE"
            - ".github/workflows/release.yml"

permissions:
    contents: write

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: go.mod

            - name: Run tests
              run: make test

            - name: Run lint
              run: make lint
